<template>
  <div>
    <div class="img-container">
      <img class="background-img" src="@/assets/Background.png" />
    </div>
  </div>
</template>

<script></script>

<style lang="stylus" scoped>

.img-container
  position absolute
  align-items center
  justify-content center
  height 100vh
  
.background-img
  min-height 100%
  min-width 1024px
  width 100%
  height auto
  position fixed
  top 0
  left 0
  z-index -1

</style>