<template>
  <div class="outer-container">
    <button class="back-btn bold" @click="navHome()"><img class="arrow-left" src="@/assets/arrow-left.svg" />BACK</button>
    <img class="logo" src="@/assets/Logo_Asylum_White@2x.png" @click="navHome()"/>
    <div class="inner-container">
      <img class="game-img" :src="`/public/assets/game-imgs/${currentSite.src}`"/>
      <div class="game-text">
        <div class="title bold">{{ currentSite.title }}</div>
        <span class="vertical-line"></span>
        <span class="company-name">{{ currentSite.companyName }}</span>
        <div class="description">{{ currentSite.description }}</div>
        <a v-if="currentSite.steamUrl && currentSite.steamFullLogo" :href="currentSite.steamUrl" target=”_blank” class="play-now-container fullLogoContainer">
          <div class="play-now-text">{{ currentSite.playNowText}}</div>
          <div class="play-now-icons">
            <img class="play-now-media-icon steamFullLogo" src="@/assets/game-play-now-media-icons/Steam_logo-1.png"/>
          </div>
        </a>
        <div v-if="!currentSite.steamFullLogo" class="play-now-container">
          <span class="play-now-text">{{ currentSite.playNowText}}</span>
          <span class="play-now-icons">
            <a v-if="currentSite.steamUrl && !currentSite.steamFullLogo" :href="currentSite.steamUrl" target=”_blank”><img class="play-now-media-icon" src="@/assets/game-play-now-media-icons/i_Steam@2x.png"/></a>
            <a v-if="currentSite.playstationUrl" :href="currentSite.playstationUrl" target=”_blank”><img class="play-now-media-icon" src="@/assets/game-play-now-media-icons/i_Playstation@2x.png"/></a>
            <a v-if="currentSite.xboxUrl" :href="currentSite.xboxUrl" target=”_blank”><img class="play-now-media-icon" src="@/assets/game-play-now-media-icons/i_Xbox@2x.png"/></a>
            <a v-if="currentSite.switchUrl" :href="currentSite.switchUrl" target=”_blank”><img class="play-now-media-icon" src="@/assets/game-play-now-media-icons/i_Switch@2x.png"/></a>
          </span>
        </div>
        <div class="social-media-container">
          <a v-if="currentSite.facebookUrl" :href="currentSite.facebookUrl" target=”_blank”><img class="social-media-icon" src="@/assets/game-media-icons/Facebook_icon-5@2x.png"/></a>
          <a v-if="currentSite.twitterUrl" :href="currentSite.twitterUrl" target=”_blank”><img class="social-media-icon" src="@/assets/game-media-icons/Twitter_icon-3@2x.png"/></a>
          <a v-if="currentSite.instagramUrl" :href="currentSite.instagramUrl" target=”_blank”><img class="social-media-icon" src="@/assets/game-media-icons/Instagram-icon@2x.png"/></a>
          <a v-if="currentSite.linkedinUrl" :href="currentSite.linkedinUrl" target=”_blank”><img class="social-media-icon" src="@/assets/game-media-icons/Linkedin_icon-4@2x.png"/></a>
          <a v-if="currentSite.youtubeUrl" :href="currentSite.youtubeUrl" target=”_blank”><img class="social-media-icon" src="@/assets/game-media-icons/Youtube_Icon-2@2x.png"/></a>
          <a v-if="currentSite.discordUrl" :href="currentSite.discordUrl" target=”_blank”><img class="social-media-icon" src="@/assets/game-media-icons/Discord-icon.png"/></a>
          <a v-if="currentSite.itchUrl" :href="currentSite.itchUrl" target=”_blank”><img class="social-media-icon" src="@/assets/game-media-icons/Itch-icon@2x.png"/></a>
          <a v-if="currentSite.tiktokUrl" :href="currentSite.tiktokUrl" target=”_blank”><img class="social-media-icon" src="@/assets/game-media-icons/Tiktok-icon@2x.png"/></a>
        </div>
      </div>
    </div>
  <div class="copyright">©indieasylum2022</div>
  </div>
</template>

<script>
import sites from '@/data/sites'

export default {
  computed: {
    currentSite() {
      return sites.find(site => site.slug === this.$route.params.slug)
    }
  },
  methods: {
    navHome() {
      this.$router.push({ name: 'home' })
    }
  }
}
</script>


<style lang="stylus" scoped>
.outer-container
  color white
  margin 0 auto
  max-width 80%

.inner-container
  display flex
  margin 0 auto

.logo
  align-content center
  margin 8% auto
  width 40%
  display flex

// Back button
.back-btn
  position absolute
  left 12%
  top 10%
  background-color #C2FF00
  border-radius 16px
  padding 8px 24px
  border none
  cursor pointer
  &:hover
    background-color black
    color white
    border 1px solid #C2FF00
    .arrow-left
      filter invert(100%)

.arrow-left
  margin 0 8px -8px -8px


// Game image
.game-img
  width 45%
  object-fit cover
  margin 0 auto


// Game info text
.game-text
  width 45%  
  margin auto

.title
  font-size 2rem

.vertical-line
  border 1px solid #C2FF00
  background-color #C2FF00
  margin-right 16px 

.company-name
  font-size 1.2rem

.description
  margin 24px 0px


// Play now section
.play-now-container
  width fit-content
  border 1px solid #C2FF00
  border-radius 8px
  min-width 80%
  font-size 1.4rem
  display flex
  justify-content space-around
  margin 6% 0
  .steamFullLogo
    width 100%

.fullLogoContainer
    min-width 60%
    background-color #C2FF00
    padding 0 8px
    color black
    text-decoration none
    &:hover 
      box-shadow 0 0 8px #C2FF00

.play-now-text
  align-items center
  display flex


.play-now-media-icon
  padding 8px
  min-width 12%
  width 40px
  margin-top 6%

// Social media section
.social-media-container
  width 80%
  display flex

.social-media-icon
  width 56%
  cursor pointer


.bold
  font-weight 900

.copyright
  color #565656
  text-align center
  margin 16% 0


// Media queries
@media all and (max-width 1200px)
  .logo
    margin 4% auto
  .back-btn
    display none
  .game-img
    margin 48px auto
    align-content center
    display block
  .outer-container
    width fit-content
  .inner-container
    display block
  .game-text
    width 72%
  .game-img
    width 72%
  .fullLogoContainer
    min-width 48%

@media all and (max-width 900px)
  .play-now-container
    font-size 1.2rem
    width 90%
  .fullLogoContainer
    width 56%

@media all and (max-width 700px)
  .logo
    min-width 72%
    margin-top 8%
  .social-media-container
    width 100%
  .back-btn
    display none
  .play-now-container
    min-width 80%
    font-size 1rem
    display flex
    flex-direction column
  .play-now-text
    margin-left 8px
  .play-now-media-icon
    max-width 14%
  .fullLogoContainer
    width 40%
    display flex
    flex-direction row
    justify-content space-evenly
    .play-now-media-icon
      max-width 64%
    .play-now-text
      width 64%

@media all and (max-width 400px)
  .logo
    min-width 60%
    margin-top 8%
  .fullLogoContainer
    width 50%
    .play-now-media-icon
      max-width 80%
    .play-now-text
      width 75%
      font-size 0.8rem
</style>