<template>
  <div class="container">
    <div class="content">
      <img class="logo-asylum" src="@/assets/Logo_Asylum_White@2x.png"/>
      <img class="logo-gamescom" src="@/assets/Gamescom-logo@2x.png"/>
      <div class="intro-text">Thank you for taking the time to browse our game catalogue. Discover here games from a broad range of genres that will assuredly bring fun and excitement to your living room. You can wishlist if you feel that any of these games needs to be in your collection!</div>
      <div class="horizontal-line"></div>
    </div>
    <div class="games-menu">
      <img class="game-image-menu" src="@/assets/home-imgs/STR_MENU.png" @click="viewGame('struggling')" />
      <img class="game-image-menu" src="@/assets/home-imgs/WRS_MENU.png"  @click="viewGame('worship')" />
      <img class="game-image-menu" src="@/assets/home-imgs/FRW_MENU.png"  @click="viewGame('forward')" />
      <img class="game-image-menu" src="@/assets/home-imgs/TBWM_MENU.png"  @click="viewGame('bed')" />
      <img class="game-image-menu" src="@/assets/home-imgs/BMR_MENU.png"  @click="viewGame('biomorph')" />
      <img class="game-image-menu" src="@/assets/home-imgs/TF_MENU.png"  @click="viewGame('falls')" />
      <img class="game-image-menu" src="@/assets/home-imgs/YGG_MENU.png"  @click="viewGame('yggdrasil')" />
    </div>
    <div class="content">
      <div class="bottom-text-large">Wish to learn more about our games and obtain <span class="bold">exclusive news?</span></div>
      <div class="horizontal-line"></div>
      <div class="sign-up-text">Sign up to our mailing list here and become a new member of the Asylum family.</div>
      <form @submit.prevent="submitForm" type="submit">
        <input class="email-input" type="email" placeholder="Enter your email"/>
        <button class="subscribe-btn">SUBCRIBE</button>
        <div v-if="error" class="error-msg">Something went wrong. Please try again with a unique email address.</div>
        <div v-else class="success-msg">Subscribe successful!</div>
      </form>
      <div class="bottom-text-large">Follow us on <span class="bold">social media</span></div>
      <div class="social-media-icon-container">
        <a href="https://www.facebook.com/IndieAsylumMTL" target=”_blank”><img class="social-media-icon" src="@/assets/home-media-icons/Facebook_icon.png"/></a>
        <a href="https://twitter.com/IndieAsylumMTL" target=”_blank”><img class="social-media-icon" src="@/assets/home-media-icons/Twitter_icon.png"/></a>
        <a href="https://www.linkedin.com/company/indieasylummtl/about/" target=”_blank”><img class="social-media-icon" src="@/assets/home-media-icons/Linkedin_icon.png"/></a>
        <a href="https://www.youtube.com/channel/UC2ao-foUzUiOFDKCs6IUaYQ" target=”_blank”><img class="social-media-icon" src="@/assets/home-media-icons/Youtube_icon.png"/></a>
      </div>
      <div class="copyright">©indieasylum2022</div>
    </div>
  </div>
</template>


<script>
export default {
  methods: {
    viewGame(slug) {
      this.$router.push({ name: 'game', params: { slug } })
    },
    submitForm(event) {
      alert('Submitted!')
    }
  }
}
</script>


<style lang="stylus" scoped>

.container
  height 100%
  text-align center
  width 85%
  margin 0 auto

.content
  width 65%
  margin 0 auto
  color white

.logo-asylum
  display block
  max-width 70%
  min-width 250px
  margin 8% auto

.logo-gamescom
  display block
  max-width 45%
  min-width 250px
  margin 8% auto

.intro-text
  color white
  font-size 18px

.horizontal-line
  border 1px solid #C2FF00
  background-color #C2FF00
  width 16%
  margin 8% auto

.games-menu
  display grid
  grid-gap 1.5rem 1rem
  justify-content space-between
  grid-template-columns 1fr 1fr
  max-width 1700px
  margin 0 0 8% 0
  margin 0 auto

.game-image-menu
  width 95%
  margin 0 auto
  border 1px solid black
  cursor pointer
  &:hover
    border 1px solid #C2FF00
    transition all 0.5s ease

.bottom-text-large
  font-size 32px
  margin 8%

.sign-up-text
  margin 0 8% 8% 8%
  font-size 1.2rem

.email-input
  border none
  border-radius 8px
  margin 4% auto
  padding 8px 16px
  display block
  width 60%
  font inherit

.subscribe-btn
  background-color #C2FF00
  border none
  border-radius 8px
  padding 8px 40px
  font-weight 900
  cursor pointer
  &:hover 
    box-shadow 0 0 8px #C2FF00

.error-msg
  margin-top 2%
  color #d2722a

.success-msg
  margin-top 2%
  color #C2FF00

.copyright
  color #565656
  margin 16% 0

.bold 
  font-weight 900

.social-media-icon
  padding 10px
  margin-top -8%

@media all and (max-width 1000px)
  .games-menu
    grid-template-columns 1fr 
  .content
    width 100%
  .logo-gamescom    
    position block
    max-width 300px
  .logo-asylum
    width 400px


@media all and (max-width 460px)
  .content
    width 100%
  .logo-gamescom    
    position block
    max-width 200px
  .logo-asylum
    width 200px


</style>
