<template>
  <div class="main">
    <router-view></router-view>
    <background></background>
  </div>
</template>

<script>
import Background from "@/components/background.vue"

export default {
  components: { Background },
};
</script>

<style lang="stylus">
@import url("https://use.typekit.net/tis7csg.css")

  .main
  position relative
  font-size 1.6rem
  line-height 1.6em
  max-width 1440px

  html
    font-size 72%
  
  *
    margin 0
    padding 0
    font-family titillium-web

</style>
